/// #_check-type($input[, $type, $check-if-list]) => bool
/// Checks if provided $input has required type
/// @access private
/// @param {any} $input - any value to check it's type
/// @param {string | list} $type ['string'] - allowed types of $input
/// @param {bool} $check-if-list [false] - checks that provided $input is a list
/// @return {bool}

@function _check-type($input, $type: string, $check-if-list: false) {

    $inputs: ();
    $types: ();

    $inputs: if(type-of($input) != list, append($inputs, $input), $input);
    $types:  if(type-of($type) != list,  append($types, $type),   $type);

    @if $check-if-list and type-of($input) != list {
        @if index($types, type-of($input)) == null {
            @return false;
        }
    }

    @each $item in $inputs {
        @if index($types, type-of($item)) == null {
            @return false;
        }
    }

    @return true;

}
