/// #_str-substring-info($input-string, $substring) => map
/// Returns map with information about $substring in $input-string: quantity, first index and last index
/// @access private
/// @param {string} $input-string
/// @param {string} $substring
/// @return {map}

@function _str-substring-info($input-string, $substring) {

    $count: 0;
    $first-index: null;
    $last-index: null;
    $string: $input-string;
    $include: not not str-index($input-string, $substring);
    $has-substring: $include;

    @if ($has-substring) {
        $first-index: str-index($string, $substring);
        $last-index: 0;
    }

    @while($has-substring != false) {
        $count: $count + 1;
        $current-index: str-index($input-string, $substring) + if($count == 1, 0, str-length($substring) - 1);
        $last-index: $last-index + $current-index;
        $input-string: str-slice($input-string, str-index($input-string, $substring) + str-length($substring));
        $has-substring: not not str-index($input-string, $substring);
    }

    @return (
            include:     $include,
            count:       $count,
            first-index: $first-index,
            last-index:  $last-index
    );
}
