/// #str-char-at($input-string, $index) => string
/// Returns character from input string at provided index
/// @param {string} $input-string - input string
/// @param {number} $index - index of required char
/// @return {string} $input-string, $index ## ''
/// @example
///   @debug str-char-at('Hello World', 2);
///   // => "e"
///   @debug str-char-at('Hello World', -4);
///   // => "o"

@function str-char-at($input-string, $index) {

    $result: '';
    $error: '';
    $argument-is-correct: _check-type($input-string) and _check-type($index, number);

    @if $argument-is-correct {
        $result: str-slice($input-string, $index, $index);
    } @else {
        $error: _error('str-char-at', ($input-string, string), ($index, number));
    }

    @return _return($argument-is-correct, $result, $error);
}
