/// #str-to-swapcase($input-string) => string
/// Returns a copy of the string in which all the case-based characters have had their case swapped.
/// @param {string} $input-string
/// @return {string}
/// @example
///   @debug str-to-swapcase('hELLO wORLD');
///   // => "Hello World"

@function str-to-swapcase($input-string) {

    $result: $input-string;
    $error: '[str.scss] Wront type of `$input-string` argument in str-to-swapcase function';
    $argument-is-correct: check-type($input-string);

    @if $argument-is-correct {
        $result: '';
        $chars: str-chars($input-string);

        @each $char in $chars {
            @if ($char == str-to-uppercase($char)) {
                $result: $result + str-to-lowercase($char);
            } @else {
                $result: $result + str-to-uppercase($char);
            }
        }
    }

    @if ($str-scss-strong-type-check and $argument-is-correct) or not $str-scss-strong-type-check {
        @return $result;
    } @else {
        @error $error;
    }

}
