/// #str-capitalize($input-string[, $lowercase-rest]) => string
/// Returns string with capitalized first letter
/// @param {string} $input-string - input string
/// @param {boolean} $lowercase-rest [false]
/// @return {string}
/// @example
///   @debug str-capitalize('hello wold');
///   // => "Hello wold"
///   @debug str-capitalize('hELLO wold');
///   // => "HELLO wold"
///   @debug str-capitalize('hELLO wold', true);
///   // => "Hello wold"

@function str-capitalize($input-string, $lowercase-rest: false) {

    $result: $input-string;
    $error: '[str.scss] Wront type of `$input-string` argument in str-capitalize function';
    $argument-is-correct: check-type($input-string);

    @if $argument-is-correct {
        @if ($lowercase-rest == true) {
            $first-item: to-upper-case( str-slice($input-string, 1, 1) );
            $result: $first-item + to-lower-case( str-slice($input-string, 2) );
        } @else {
            $result: _str-capitalize-first($input-string);
        }
    }

    @if ($str-scss-strong-type-check and $argument-is-correct) or not $str-scss-strong-type-check {
        @return $result;
    } @else {
        @error $error;
    }

}
