/// #str-is-blank($input-string) => boolean
/// Returns true if string is empty or contains whitespaces only
/// @param {string} $input-string
/// @return {boolean}
/// @example
///   @debug str-is-blank('');
///   // => true
///   @debug str-is-blank(' ');
///   // => true
///   @debug str-is-blank('Hello World');
///   // => false

@function str-is-blank($input-string) {

    $result: $input-string;
    $error: '[str.scss] $input-string of str-is-blank function should be a string';
    $argument-is-correct: check-type($input-string);

    @if $argument-is-correct {
        $input-string: str-trim($input-string);
        $result: if(str-length($input-string) > 0, false, true);
    }

    @if ($str-scss-strong-type-check and $argument-is-correct) or not $str-scss-strong-type-check {
        @return $result;
    } @else {
        @error $error;
    }
}
