/// #str-repeat($input-string[, $times, $separator]) => string
/// Returns input string repeated provided number of times
/// @param {string} $input-string
/// @param {number} $times [1]
/// @param {string} $separate-with ['']
/// @return {string} $input-string, $times, $separator ## $input-string
/// @example
///   @debug str-repeat('Hello');
///   // => "Hello"
///   @debug str-repeat('Hello', 2);
///   // => "HelloHello"
///   @debug str-repeat('Hello', 2, ', ');
///   // => "Hello, Hello"

@function str-repeat($input-string, $times: 1, $separator: '') {

    $result: $input-string;
    $error: '';
    $argument-is-correct: check-type($input-string) and check-type($times, number) and check-type($separator, (string, number));

    @if $argument-is-correct {
        $result: '';

        @for $i from 1 through $times {
            $result: $result + if($i == 1, '', $separator) + $input-string;
        }
    } @else if $argument-is-correct == false and $str-scss-strong-type-check {
        $error: _error('str-repeat', ($input-string, string), ($times, number), ($separator, (string, number)));
    }

    @return _return($argument-is-correct, $result, $error);

}
