/// #str-last-index($input-string, $substring) => number
/// Returns last index of substring in provided string
/// @param {string} $input-string
/// @param {string} $substring
/// @return {number} $input-string, $substring ## 0
/// @example
///   @debug str-last-index('Hello World', 'l');
///   // => 10
///   @debug str-last-index('Hello World', 'z');
///   // => null

@function str-last-index($input-string, $substring) {

    $result: 0;
    $error: '';
    $argument-is-correct: _check-type($input-string) and _check-type($substring);

    @if $argument-is-correct {
        $substring-info: _substring-info($input-string, $substring);

        $result: map-get($substring-info, last-index);
    } @else if $argument-is-correct == false and $str-scss-strong-type-check {
        $error: _error('str-last-index', ($input-string, string), ($substring, string));
    }

    @return _return($argument-is-correct, $result, $error);

}
