/// #str-split($input-string[, $separator]) => list
/// Returns an array of strings by separating the string into substrings
/// @param {string} $input-string - input string
/// @param {string} $separator [' '] - separator to split on
/// @return {list} $input-string, $separator ## empty list
/// @example
///   @debug str-split('Hello World');
///   // => ("Hello" "World")
///   @debug str-split('Hello World, Hello World', ', ');
///   // => ("Hello World" "Hello World")

@function str-split($input-string, $separator: ' ') {

    $result: ();
    $error: '';
    $argument-is-correct: _check-type($input-string) and _check-type($separator);

    @if $argument-is-correct {
        $index: str-index($input-string, $separator);
        $indent: str-length($separator);

        @while ($index != null) {
            $item: str-slice($input-string, 1, $index - 1);
            $input-string: str-slice($input-string, $index + $indent);
            $index: str-index($input-string, $separator);

            @if (str-length($item) != 0) {
                $list: append($result, $item);
            }
        }

        $result: append($result, $input-string);
    } @else if $argument-is-correct == false and $str-scss-strong-type-check {
        $error: _error('str-split', ($input-string, string), ($separator, string));
    }

    @return _return($argument-is-correct, $result, $error);
}
