/// #str-first-index($input-string, $substring) => number
/// Returns first index of substring in provided string
/// @param {string} $input-string
/// @param {string} $substring
/// @return {number} $input-string, $substring ## null
/// @example
///   @debug str-first-index('Hello World', 'l');
///   // => 3
///   @debug str-first-index('Hello World', 'z');
///   // => null

@function str-first-index($input-string, $substring) {

    $result: null;
    $error: '';
    $argument-is-correct: _check-type($input-string) and _check-type($substring);

    @if $argument-is-correct {
        $substring-info: _substring-info($input-string, $substring);

        $result: map-get($substring-info, first-index);
    } @else {
        $error: _error('str-first-index', ($input-string, string), ($substring, string));
    }

    @return _return($argument-is-correct, $result, $error);

}
