/// #str-join($input-list[, $separator]) => string
/// Returns input list converted to a string
/// @param {list} $input-list
/// @param {string} $separator ['']
/// @return {string} $input-list, $separator ## ''
/// @example
///   @debug str-join((1, '. ', 'H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd'));
///   // => "1. Hello World"
///   @debug str-join(('a', 'b', 'c'), '*');
///   // => "a*b*c"

@function str-join($input-list, $separator: '') {

    $result: '';
    $error: '';
    $argument-is-correct: _check-type($input-list, (string, number), true) and _check-type($separator);

    @if $argument-is-correct {

        @each $item in $input-list {
            $result: $result + if(index($input-list, $item) != 1, $separator, '') + $item;
        }
    } @else if _check-type($separator) and (type-of($input-list) == string or type-of($input-list) == number) {
        $argument-is-correct: true;
        $result: $result + $input-list;
    } @else if $argument-is-correct == false and $str-scss-strong-type-check {
        $error: _error('str-join', ($input-list, (string, number)), ($separator, string));
    }

    @return _return($argument-is-correct, $result, $error);
};
