/// #str-include($input-string, $substring) => boolean
/// Returns boolean result of check if string contains a substring.
/// @param {string} $input-string
/// @param {string} $substring
/// @return {boolean}
/// @example
///   @debug str-include('Hello World', 'lo');
///   // => true

@function str-include($input-string, $substring) {

    $result: false;
    $error: '';
    $argument-is-correct: check-type($input-string) and check-type($substring);

    @if $argument-is-correct {
        $substring-info: _str-substring-info($input-string, $substring);

        $result: map-get($substring-info, include);
    }

    @return _return($argument-is-correct, $result, $error);

}
