/// #str-rtrim($input-string[, $trim-chars]) => string
/// Returns string with removed trailing characters.
/// @param {string} $input-string
/// @param {string} $trim-chars [' ']
/// @return {string}
/// @example
///   @debug str-rtrim(' Hello World ');
///   // => " Hello World"
///   @debug str-rtrim(' -_ Helllo World _- ', '- _');
///   // => " -_ Helllo World"

@function str-rtrim($input-string, $trim-chars: ' ') {

    $result: $input-string;
    $error: '[str.scss] Wront type of `$input-string` argument in str-rtrim function';
    $argument-is-correct: check-type($input-string);

    @if $argument-is-correct {
        $result: str-slice(
                        $input-string,
                        1,
                        _str-get-not-skipped-char-index($input-string, 'right', $trim-chars)
        );
    }

    @if ($str-scss-strong-type-check and $argument-is-correct) or not $str-scss-strong-type-check {
        @return $result;
    } @else {
        @error $error;
    }

}
