/// #str-rtrim($input-string[, $trim-chars]) => string
/// Returns string with removed trailing characters.
/// @param {string} $input-string
/// @param {string} $trim-chars [' ']
/// @return {string} $input-string, $trim-chars ## $input-string
/// @example
///   @debug str-rtrim(' Hello World ');
///   // => " Hello World"
///   @debug str-rtrim(' -_ Helllo World _- ', '- _');
///   // => " -_ Helllo World"

@function str-rtrim($input-string, $trim-chars: ' ') {

    $result: $input-string;
    $error: '';
    $argument-is-correct: _check-type($input-string) and _check-type($trim-chars);

    @if $argument-is-correct {
        $result: str-slice(
                        $input-string,
                        1,
                        _str-get-not-skipped-char-index($input-string, 'right', $trim-chars)
        );
    } @else if $argument-is-correct == false and $str-scss-strong-type-check {
        $error: _error('str-rtrim', ($input-string, string), ($trim-chars, string));
    }

    @return _return($argument-is-correct, $result, $error);

}
