/// #str-ends-with($input-string, $substring[, $ignore-case]) => boolean
/// Returns true if string ends with provided substring
/// @param {string} $input-string
/// @param {string} $substring
/// @param {boolean} $ignore-case [false]
/// @return {boolean}

@function str-ends-with($input-string, $substring, $ignore-case: false) {

    @if (str-is-blank($substring)) {
        @return true;
    }

    @if ($ignore-case) {
        $input-string: str-to-lowercase($input-string);
        $substring: str-to-lowercase($substring);
    }

    $start-index: str-length($substring) * -1;

    @return str-slice($input-string, $start-index, -1) == $substring;
}
