/// #str-count($input-string, $substring) => number
/// Returns number of occurrences of substring in string.
/// @param {string} $input-string
/// @param {string} $substring
/// @return {number} $input-string, $substring ## 0
/// @example
///   @debug str-count('Hello World', 'z');
///   // => 0
///   @debug str-count('Hello World', 'l');
///   // => 3
///   @debug str-count('Hello World Hello World Hello World', 'ello');
///   // => 3

@function str-count($input-string, $substring) {

    $result: 0;
    $error: '';
    $argument-is-correct: _check-type($input-string) and _check-type($substring);

    @if $argument-is-correct {
        $substring-info: _substring-info($input-string, $substring);

        $result: map-get($substring-info, count);
    } @else if $argument-is-correct == false and $str-scss-strong-type-check {
        $error: _error('str-count', ($input-string, string), ($substring, string));
    }

    @return _return($argument-is-correct, $result, $error);

}
