/// #str-ltrim($input-string[, $trim-chars]) => string
/// Returns string with removed leading characters.
/// @param {string} $input-string
/// @param {string} $trim-chars [' ']
/// @return {string} $input-string, $trim-chars ## $input-string
/// @example
///   @debug str-ltrim(' Hello World ');
///   // => "Hello World "
///   @debug str-ltrim(' -_ Helllo World _- ', '- _');
///   // => "Helllo World _- "

@function str-ltrim($input-string, $trim-chars: ' ') {

    $result: $input-string;
    $error: '';
    $argument-is-correct: check-type($input-string) and check-type($trim-chars);

    @if $argument-is-correct {
        $result: str-slice(
                        $input-string,
                        _str-get-not-skipped-char-index($input-string, 'left', $trim-chars)
        );
    } @else if $argument-is-correct == false and $str-scss-strong-type-check {
        $error: _error('str-ltrim', ($input-string, string), ($trim-chars, string));
    }

    @return _return($argument-is-correct, $result, $error);

}
