/// #str-trim($input-string[, $trim-chars]) => string
/// Returns trimmed string
/// @param {string} $input-string
/// @param {string} $trim-chars [' ']
/// @return {string}
/// @example
///   @debug str-trim(' Hello World ');
///   // => "Hello World"
///   @debug str-trim(' -_ Helllo World _- ', '- _');
///   // => "Hello World"

@function str-trim($input-string, $trim-chars: ' ') {

    $result: $input-string;
    $error: '[str.scss] $input-string and $trim-chars arguments of str-trim function should be strings';
    $argument-is-correct: check-type($input-string) and check-type($trim-chars);

    @if $argument-is-correct {
        $result: str-slice(
                        $input-string,
                        _str-get-not-skipped-char-index($input-string, 'left', $trim-chars),
                        _str-get-not-skipped-char-index($input-string, 'right', $trim-chars)
        );
    }

    @if ($str-scss-strong-type-check and $argument-is-correct) or not $str-scss-strong-type-check {
        @return $result;
    } @else {
        @error $error;
    }

}
