/// #str-clean($input-string) => string
/// Returns trimmed string with multiply spaces replaced with single space
/// @param {string} $input-string - input string
/// @return {string}
/// @example
///   @debug str-clean('Hello  World');
///   // => "Hello World"
///   @debug str-clean('  Hello  World   ');
///   // => "Hello World"

@function str-clean($input-string) {

    $result: $input-string;
    $error: '[str.scss] Wront type of `$input-string` argument in str-clean function';
    $argument-is-correct: check-type($input-string);

    @if $argument-is-correct {
        $result: '';
        $input-string: str-trim($input-string);
        $items: str-split($input-string);

        @for $i from 1 through length($items) {
            $result: $result + if($i == 1, '', ' ') + nth($items, $i);
        }
    }

    @if ($str-scss-strong-type-check and $argument-is-correct) or not $str-scss-strong-type-check {
        @return $result;
    } @else {
        @error $error;
    }

}
