/// #str-first-index($input-string, $substring) => number
/// Returns first index of substring in provided string
/// @param {string} $input-string
/// @param {string} $substring
/// @return {number}
/// @example
///   @debug str-first-index('Hello World', 'l');
///   // => 3
///   @debug str-first-index('Hello World', 'z');
///   // => null

@function str-first-index($input-string, $substring) {

    $result: false;
    $error: '';
    $argument-is-correct: check-type($input-string) and check-type($substring);

    @if $argument-is-correct {
        $substring-info: _str-substring-info($input-string, $substring);

        $result: map-get($substring-info, first-index);
    }

    @return _return($argument-is-correct, $result, $error);

}
