/// #str-ends-with($input-string, $substring[, $ignore-case]) => boolean
/// Returns true if string ends with provided substring
/// @param {string} $input-string
/// @param {string} $substring
/// @param {boolean} $ignore-case [false]
/// @return {boolean}
/// @example
///   @debug str-starts-with('Hello World', 'Hel');
///   // => true
///   @debug str-starts-with('Hello World', 'hel');
///   // => false
///   @debug str-starts-with('Hello World', 'hel', true);
///   // => true


@function str-ends-with($input-string, $substring, $ignore-case: false) {

    $result: false;
    $error: '';
    $argument-is-correct: check-type($input-string);

    @if $argument-is-correct {
        @if ($ignore-case) {
            $input-string: to-lower-case($input-string);
            $substring: to-lower-case($substring);
        }

        $start-index: str-length($substring) * -1;

        @if str-slice($input-string, $start-index, -1) == $substring {
            $result: true;
        }
    }

    @return _return($argument-is-correct, $result, $error);

}
