/// #str-chars($input-string) => list
/// Returns SCSS list with all string characters.
/// @param {string} $input-string - input string
/// @return {list}
/// @example
///   @debug str-chars('Hello world');
///   // => ("H" "e" "l" "l" "o" " " "w" "o" "r" "l" "d")

@function str-chars($input-string) {

    $result: ();
    $error: '';
    $argument-is-correct: check-type($input-string);

    @if $argument-is-correct {
        @for $i from 1 through str-length($input-string) {
            $chars: append($result, str-slice($input-string, $i, $i));
        }
    } @else {
        $error: error('str-chars', ($input-string, string));
    }

    @return _return($argument-is-correct, $result, $error);
}
