/// #str-reverse($input-string) => string
/// Returns reversed string.
/// @param {string} $input-string
/// @return {string} $input-string ## $input-string
/// @example
///   @debug str-reverse('Hello World');
///   // => "dlroW olleH"

@function str-reverse($input-string) {

    $result: $input-string;
    $error: '';
    $argument-is-correct: _check-type($input-string);

    @if $argument-is-correct {
        $result: '';
        $chars: str-chars($input-string);

        @for $i from length($chars) through 1 {
            $result: $result + nth($chars, $i);
        }
    } @else if $argument-is-correct == false and $str-scss-strong-type-check {
        $error: _error('str-reverse', ($input-string, string));
    }

    @return _return($argument-is-correct, $result, $error);

}
