/// #str-include($input-string, $substring) => boolean
/// Returns boolean result of check if string contains a substring.
/// @param {string} $input-string
/// @param {string} $substring
/// @return {boolean} $input-string, $substring ## null
/// @example
///   @debug str-include('Hello World', 'lo');
///   // => true

@function str-include($input-string, $substring) {

    $result: null;
    $error: '';
    $argument-is-correct: _check-type($input-string) and _check-type($substring);

    @if $argument-is-correct {
        $substring-info: _substring-info($input-string, $substring);

        $result: map-get($substring-info, include);
    } @else {
        $error: _error('str-include', ($input-string, string), ($substring, string));
    }

    @return _return($argument-is-correct, $result, $error);

}
