/// #str-starts-with($input-string, $substring[, $ignore-case]) => boolean
/// Returns true if string starts with provided substring
/// @param {string} $input-string
/// @param {string} $substring
/// @param {boolean} $ignore-case
/// @return {boolean}
/// @example
///   @debug str-starts-with('Hello World', 'Hel');
///   // => true
///   @debug str-starts-with('Hello World', 'hel');
///   // => false
///   @debug str-starts-with('Hello World', 'hel', true);
///   // => true

@function str-starts-with($input-string, $substring, $ignore-case: false) {

    $result: false;
    $error: '[str.scss] Wront type of `$input-string` argument in str-starts-with function';
    $argument-is-correct: check-type($input-string);

    @if $argument-is-correct {
        @if ($ignore-case) {
            $input-string: to-lower-case($input-string);
            $substring: to-lower-case($substring);
        }

        @if str-slice($input-string, 1, str-length($substring)) == $substring {
            $result: true;
        }
    }

    @if ($str-scss-strong-type-check and $argument-is-correct) or not $str-scss-strong-type-check {
        @return $result;
    } @else {
        @error $error;
    }

}
