/// #str-to-lowercase($input-string) => string
/// Returns the calling string value converted to lowercase
/// Alias for to-lower-case String SASS built-in function
/// @param {string} $input-string
/// @return {string}
/// @example
///   @debug str-to-lowercase('Hello World');
///   // => "hello world"

@function str-to-lowercase($input-string) {

    $result: $input-string;
    $error: '';
    $argument-is-correct: check-type($input-string);

    @if $argument-is-correct {
        $result: to-lower-case($input-string);
    }

    @return _return($argument-is-correct, $result, $error);

}
