/// #str-ends-with($input-string, $substring[, $ignore-case]) => boolean
/// Returns true if string ends with provided substring
/// @param {string} $input-string
/// @param {string} $substring
/// @param {boolean} $ignore-case [false]
/// @return {boolean} $input-string, $substring ## null
/// @example
///   @debug str-ends-with('Hello World', 'rld');
///   // => true
///   @debug str-ends-with('Hello World', 'RLD');
///   // => false
///   @debug str-ends-with('Hello World', 'RLD', true);
///   // => true


@function str-ends-with($input-string, $substring, $ignore-case: false) {

    $result: null;
    $error: '';
    $argument-is-correct: _check-type($input-string) and _check-type($substring);

    @if $argument-is-correct {
        @if ($ignore-case) {
            $input-string: to-lower-case($input-string);
            $substring: to-lower-case($substring);
        }

        $start-index: str-length($substring) * -1;

        $result: if(str-slice($input-string, $start-index, -1) == $substring, true, false);

    } @else if $argument-is-correct == false and $str-scss-strong-type-check {
        $error: _error('str-ends-with', ($input-string, string), ($substring, string));
    }

    @return _return($argument-is-correct, $result, $error);

}
